h1 {
  text-align: center;
  font-family: 'Square Peg', cursive;
}

.table {
  width: 100%;
  margin: 0 auto;
  border: none;
}

h5,
p {
  border-collapse: collapse;
  margin: auto;
  text-align: center;
}
.turn-span{
  height: min-content !important;
  font-size: xx-large;
}
.rows {
  text-align: center;
  font-size: xx-large;
}

td {
  width: 70px;
  height: 70px;
  padding-top: 10px;
  border-bottom: none;
}

span {
  height: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.input {
  text-align: center;
  font-family: 'Square Peg', cursive;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  width: 30%;
}